# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/godis

# Build output
target/

# Coverage
*.out
coverage.txt

# Persistence artifacts
*.aof
*.rdb

# Test binary
*.test

# Runtime data
node1/
node2/
logs

# IDE
.idea
*.iml
.vscode/
